@import 'vuetify/styles';



.v-btn {
    border-radius: 0 !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
}

.v-checkbox-btn .v-selection-control__wrapper {
    top: 7px;
}

.v-container {
    max-width: 1920px !important;
}

.turkis {
    color: #2FAAB9;
}

.menucol {
    padding: 0 !important;


    .v-card {
        background-color: transparent;
    }

    >.v-card {
        background-color: #eee;
        border-right: 1px solid #ccc;
    }

    &.active {

        .card-date {
            @extend .turkis;
        }

        >.v-card {
            border: none;
            background-color: #2FAAB9;
        }

        >.calendar-bg {
            background-color: white;

        }


        .v-row {
            border-color: white !important;
        }

        .v-card-text {
            opacity: 1;
            filter: grayscale(0);
            color: white;


        }
    }

    .v-card-text {
        padding: 20px 12px !important;
        opacity: 0.66;
        filter: grayscale(1);

        >div {
            padding: 12px;
        }
    }

    .v-row {

        height: 280px;

        &:nth-of-type(1n+2) {
            border-top: 1px solid rgb(0, 76, 147);
            padding-top: 20px
        }

        &:nth-of-type(3) {
            height: 145px;
        }

    }

    &:nth-of-type(6) {
        >.v-card {
            border-right: none;
        }
    }
}

// .card-date {

//     position: absolute;
//     top: -18px;
//     background-color: white;
//     right: 8px;
//     border-color: primary;
//     border-radius: 8px;
//     border-width: 1px;
//     border-color: #2FAAB9;
//     border-top-width: 8px;
//     border-style: solid;

// }


.card-date {

    position: absolute;

    top: -28px;
    background-color: white;
    right: -12px;
}