@import 'vuetify/styles';

.tr-test {
    color: green !important
}

.v-btn {
    border-radius: 0 !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
}

.v-checkbox-btn .v-selection-control__wrapper {
    top: 7px;
}

.v-container {
    max-width: 1920px !important;
}

.menucol {
    padding: 0 !important;
    opacity: 0.5;
    filter: grayscale(1);

    .v-card {
        background-color: transparent;
    }

    >.v-card {
        background-color: #eee;
        border-right: 1px solid #ccc;
    }

    &.active {

        >.v-card {
            border: none;
            background-color: white;
        }

        opacity: 1;
        filter: grayscale(0)
    }

    .v-card-text {
        padding: 20px 12px !important;

        >div {
            padding: 12px;
        }
    }

    .v-row {

        height: 260px;

        &:nth-of-type(1n+2) {
            border-top: 1px solid #ccc;
            padding-top: 20px
        }

        &:nth-of-type(3) {
            height: 140px;
        }

    }
}

.card-date {

    position: absolute;
    top: -18px;
    background-color: white;
    right: 8px;
    border-color: primary;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(0, 76, 147);
    border-top-width: 8px;
    border-style: solid;

}